body {
  background: url('../img/cover-1024.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  min-width: 480px;
  padding: 0;
}

.code {
  background-color: rgba(34, 34, 34, .8);
  border-top: 1px solid #555;
  bottom: 0;
  box-shadow: 0 -2px 3px rgba(34, 34, 34, .5);
  color: #777;
  font-family: 'Source Code Pro';
  font-size: 12px;
  left: 0;
  margin: 0;
  padding: 12px;
  position: absolute;
  right: 0;
  text-shadow: 0 2px 3px #171717;
  width: 100%;
}

.line { display: block; }
.indent-1 { margin-left: 1em; }
.indent-2 { margin-left: 2em; }
.key { color: #cacaca; }
.string { color: #e8e8e8; }
.string a { color: #e8e8e8; text-decoration: none; }
.string a:hover { color: #cacaca; text-decoration: none; }

@media screen and (min-width: 534px) {
  .code {
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(34, 34, 34, .5);
    left: auto;
    width: 460px;
  }
}

@media screen and (min-width: 534px) and (max-width: 645px) {
  .code {
    bottom: 24px;
    right: 24px;
  }
}

@media screen and (min-width: 646px) {
  .code {
    bottom: 48px;
    font-size: 13px;
    padding: 24px;
    right: 48px;
    width: 500px;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../img/cover-1440.jpg');
  }
}

@media screen and (min-width: 1441px) {
  body {
    background-image: url('../img/cover-1920.jpg');
  }
}

@media screen and (min-width: 1921px) {
  body {
    background-image: url('../img/cover-2560.jpg');
  }
}

@media screen and (min-width: 2561px) {
  body {
    background-image: url('../img/cover-max.jpg');
  }
}
